%h2 注文情報の編集

= form_for @order do |f|

  .field
    = f.label :name, "氏名"
    = f.text_field :name, :size => 40
  .field
    = f.label :address , "住所"
    = f.text_area :address, :row => 3, :cols => 40
  .field
    = f.label :email, "Eメール"
    = f.text_field :email, :size => 40
  .field
    = f.label :pay_type, "支払い方法"
    = f.select :pay_type, Order::PAYMENT_TYPES, :prompt => "---"
  %h3 売上明細
  = f.fields_for :line_items do |line_item_form|
    .field
      = line_item_form.label :product, "商品"
      = line_item_form.collection_select :product_id, Product.all, :id, :name, :include_blank => "---"

      = line_item_form.label :quantity, "数量"
      = line_item_form.text_field :quantity, :size => 5

  .actions
    = f.submit '保存する',:class => "submit"
= link_to '戻る', orders_path
